doctype html
html(ng-app='')
	head
		title= site+'- home'
		include ../../../common-css
		link(rel='STYLESHEET', type='text/css', href='/socketio/style/trump.css')
	body.trump
		.container(ng-controller=site)
			block content
		include ../../../common-scripts
		script(src="/socket.io/socket.io.js").
		script(src="/socketio/scripts/trump.js").
		script.
			var infoUser= '!{user}';
			var infoSite= '!{site}';
			var infoSession= '!{session}';
			var infoRoom= '!{room}';
			var infoTotal= '!{total}';
			var infoView= !{view};
