doctype html
html(ng-app='')
	head
		title= site+'- home'
		include ../../../common-css
		link(rel='STYLESHEET', type='text/css', href='/trump/style/trump.css')
	body.trump
		.container(ng-controller='Trump')
			block content
		include ../../../common-scripts
		script(src="/socket.io/socket.io.js").
		script(src="/trump/scripts/trump.js").
		script.
			var user= '!{user}';
			var site= '!{site}';
			var session= '!{session}';
			var room= '!{room}';
			var total= '!{total}';
