extends layout
block content
	include navbar
	.row
		h1.text-center Trump
		.col-md-12.col-sm-12.featurette-divider.background-unFlower
			.col-md-2.col-sm-2
				img.img-responsive(src="/socketio/images/trump.png" alt="")
				//img.img-responsive(src="/socketio/images/jackspade.png" alt="")
			.col-md-10.col-sm-10
				h3.text-center Tables
				table.table.table-bordered.table-striped
					tr
						th Server
						th Room
						th In Progress
						th Players
						th Info
						th Join
					- each stuff in list
						tr
							td= stuff.game+' ('+stuff.totalPoints+')'
							td= stuff.room
							td= stuff.inProgress
							td= stuff.active+'/'+stuff.total
							td= stuff.playerInfo
							td
								a(href='/razeplay/'+stuff.game+'/?session='+stuff.session) Join
				ul.text-center.list-unstyled.list-inline
					li
						a.btn.btn-sm.btn-success(href='/razeplay/trump') New 4 player game
					li
						a.btn.btn-sm.btn-success(href='/razeplay/trump?players=6') New 6 player game
					li
						a.btn.btn-sm.btn-success(href='/razeplay/trump/?players=8') New 8 player game
