- each project,index in projects
	.full-height.project-item
		- for (var i = 0; i < project.content.length; i++) {
			.screen-item
				.col-md-12.col-sm-12
					.col-md-8.col-sm-8
						h1.font-40.font-heading.font-uppercase.text-center= project.name
						//span.text-left= project.name
					.col-md-4.col-sm-4
						ul.list-inline.list-unstyled
							li
								h1.font-40
									a.fa.fa-link.color-clouds(target='_blank', href=project.link)
							li
								h1.font-40
									a.fa.fa-github.color-clouds(target='_blank', href=project.link)
				ul.list-inline.list-unstyled
					- for (var j = 0; j < project.content.length; j++) {
						li.pointer(ng-class="{'opacity-mild': curSubScreen != 200 + 10*"+index+"+ "+j+"}")
							img.img-responsive.img-item.block4(ng-click='selectSubScreen(2, '+index+', '+j+')', src='/portfolio/images/projects/'+project.img)
					- }
				.col-md-12.col-sm-12
					.col-md-8.col-sm-8
						img.img-responsive.img-thumbnail(src='/portfolio/images/projects/'+project.folder+'/'+project.content[i].img)
					.col-md-4.col-sm-4
						h3.eading= project.content[i].sub
						h3.text-center= project.content[i].desc
						include lorem1
		- }
